.nav-ul li {
    background-color: #212529;
    width: 90%;
    margin: auto;
    margin-top: 6px;
    height: 31px;
    border-radius: 5px;
    cursor: pointer;
}

.nav-ul li a {
    color: #fff;
    line-height: 10px;
    font-size: 13px;
}

.nav-ul li a:hover {
    color: #999;
}

.active {
    color: #999 !important;
}