.header {
    background-color: #000; //#242424;
    border-bottom: 2px solid #ffc107;
}

.brand-name {
    font-weight: 800;
    color: #ffff !important;
}

.btn-profile {
    color: #fff !important;
    height: 40px;
    background: none !important;
    border: 1px solid #000 !important;
}

.dropdown-menu {
    right: 5px;
    font-size: 12px !important;
}

.profile-mage {
    height: 30px;
}

.dropdown-item {
    color: #41464b !important;
}

.btn-logout {
    color: #dc3545 !important;
    border-top: 1px solid #999 !important;
}